*{
    margin: 0%;
    padding: 0%;
    vertical-align: baseline;
    list-style: none;
    font-family: Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}
header {
    display: flex; 
    align-items: center;
    justify-content: space-evenly;
    padding: 15px;
    background-color: rgb(85, 48, 6);
    overflow: hidden;
    line-height: 200px;
    max-height: 200px;
}
header > h1{ /* Selecionamos aqui a cor da letra do nosso H1 ou seja, do nosso título */
    color: white;
}

header > img{ /* Aqui estamos chamando nossa imagem para ser atribuidas alterações */
    width: 200px; /* Largura da nossa imagem */
    height: 115px; /* Tamanho da nossa imagem */
}
#menu-header{ /* Nosso menu de navegação */
    display: flex; /* Responsável por colocar os itens na mesma linha (lado a lado)*/
    align-items: center; /* Alinhar os itens   */
}
